<% layout("/layouts/boilerplate") -%>

<div class="row mt-5">
  <div class="alert alert-danger col-md-6 offset-md-3 text-center" role="alert">
    <i class="fa-solid fa-triangle-exclamation fa-lg me-2"></i>
    <h4 class="alert-heading mt-2"><%= message %></h4>
    <hr />
    <p>
      Something went wrong. Please try again or return
      <a href="/listings">home</a>.
    </p>
  </div>
</div>
